.account {
padding: 0 15px 0 15px;
}

.label-align-right {
  text-align: right;
}

.text-title-color {
  color: #F10091;
  font-weight: bolder;
}


.divAccountAlign p {
  font-family: arial;
  font-size: 0.8em;
}

.divAccountAlign {
  margin-left: 20%;
}

.divBasketContent
{
  width:90%;
  margin:auto;
}

.divBasketContentUnder
{
  margin-left: 4%;
  float:left;
  padding: 5px;
}

.divBasketContentUnder p {
  font-family: arial;
  font-size: 14px;
}

.divBasketContentUnder h2 {
  font-family: arial;
}


#divBasket
{
  margin-top:10px;
  padding:10px;
  height:450px;
  border-radius:5px;
  background-color:#FFF;
  box-shadow: 8px 8px 12px #aaa;
  border:solid 1px #797D80;
}

#divBasketUnknow, #divBasketKnow
{
  width: 400px;
  border:solid 1px #797D80;
  border-radius:3px;
  padding:10px;
  margin:5px;
  height:300px;
}

.submitCompte
{
  width:260px;
}

#namePassword
{
  width: 350px;
}

.button-submit {
  height: 42px;
  width: 361px;
  border-radius: 5px;
  background-color: var(--main_bg_color_blue);
  padding:5px;
  margin-top:5px;
  font-family: arial;
  font-size:0.8em;
  border:solid 1px #797D80;
}

.button-submit:hover {
  border:solid 1px #F10091;
  color: #F10091;
}

.hide-tr {
  display: none;
}

.alert-td {
  color: #FFF;
  border: red solid 1px;
  text-align: center;
  height: 42px;
  border-radius: 5px;
  width: 360px;
  background-color: #FD4E68;

}
