.information-div, .waiting-comment {
  background-color: #EEE;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #AAA;
  padding: 15px;
  margin: 15px;
}

.information-div {
  height: 170px;
}

.waiting-comment {
  /*height: 50px;*/
}

.buttons-div {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.button-css {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


